@import "tailwindcss";



.hero-image img {
  margin-top: 20px;
  width: 370px;
  height: 370px;
  background-position: 50%;
  border: 3px solid rgb(115, 112, 112);
  border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  position: relative;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.67);
  animation: ani123 8s ease-in-out infinite;
}

@keyframes ani123 {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }

  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }

  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}
